info:
  contact: {}
paths:
  /index:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      tags:
      - 扶뒬못
  /user/getUserList:
    get:
      responses:
        "200":
          description: code","message"}s
          schema:
            type: string
      tags:
      - 扶뒬못
swagger: "2.0"
